@import "../../assets/colors.scss";
@import "../../assets/page-layout.scss";

.admin-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $borderRadius;
  margin: 2em;
  padding: 2em;
  -webkit-filter: drop-shadow(1px 1px 5px #0f0f0f);
  filter: drop-shadow(1px 1px 3px #4e4e4e);

  .admin-title {
    margin-bottom: -10px;
    padding-bottom: 10px;
    padding:1em;
    border-radius: $borderRadius;
    width: 50%;
    color: $accent;
    background-color: $blue;
    text-align: center;
  }
  .credential-container {
    background-color: $lightBrown;
    border-radius: $borderRadius;
    gap: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .admin-console {
    background-color: $lightBrown;
    padding:2em;
    width: 50%;
    border-radius: $borderRadius;
    .current-file-info{
      display: flex;
      gap:2em;
      border-radius: $borderRadius;
      align-items: center;
      border:2px solid #ffffff00;
      transition:border 0.2s ease;
      &:hover{
        border:2px solid #3333333a;
      }
      img{
        height:5em;
        width:5em;
      }
    }
  }
}
