
$gray:#333;
$white: #f7f7f7;
$text: #3B2715;
$linkText:#303816;
$accent: #e5e5d3;
$lightGreen: #717728;
$darkGreen: #313C15;
$lightBrown: #AA9171;
$darkBrown: #372613;
$orange: #D28B28;
$blue:#33373F;
$red:#B7272A;
