@import "./assets/colors.scss";

.body-container {
  background-color: $white;
  z-index: 1;
  margin-top: 9em;
  width: 90%;
  height: 100vh;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);


}

@media (max-width: 945px) {
  .body-container {
    width: 100%;
  }
}
